.iziBtn{
   outline: 0;
   border: 0;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}

.large{
    font-size: 30px;
    font-weight: 600;
}
.small{
    font-size: 15px;
    font-weight: 500;
}
